<?xml version="1.0"?>
<!--
/**
 * @author andy
 * @email andyworkbase@gmail.com
 * @team MageCloud
 * @package MageCloud_Faq
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <magecloud_fag>
            <general>
                <enabled>0</enabled>
                <enabled_schema>0</enabled_schema>
            </general>
        </magecloud_fag>
    </default>
</config>
