<?xml version="1.0"?>
<!--
/**
 * @author andy
 * @email andyworkbase@gmail.com
 * @team MageCloud
 * @package MageCloud_Faq
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MageCloud\Faq\Api\Data\FaqSearchResultsInterface" type="MageCloud\Faq\Model\FaqSearchResults" />
    <preference for="MageCloud\Faq\Api\GetFaqByIdentifierInterface" type="MageCloud\Faq\Model\GetFaqByIdentifier" />
    <preference for="MageCloud\Faq\Api\Data\FaqInterface" type="MageCloud\Faq\Model\Faq" />
    <preference for="MageCloud\Faq\Api\FaqRepositoryInterface" type="MageCloud\Faq\Model\FaqRepository" />
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magecloud_faq_listing_data_source" xsi:type="string">MageCloud\Faq\Model\ResourceModel\Faq\Grid\Collection</item>
                <item name="magecloud_faq_listing_category_data_source" xsi:type="string">MageCloud\Faq\Model\ResourceModel\Faq\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="MageCloud\Faq\Model\ResourceModel\Faq\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">magecloud_faq</argument>
            <argument name="eventPrefix" xsi:type="string">magecloud_faq_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">faq_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">MageCloud\Faq\Model\ResourceModel\Faq</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="MageCloud\Faq\Api\Data\FaqInterface" xsi:type="string">MageCloud\Faq\Api\FaqRepositoryInterface</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="MageCloud\Faq\Api\Data\FaqInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">magecloud_faq</item>
                    <item name="identifierField" xsi:type="string">faq_id</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\Operation\ExtensionPool">
        <arguments>
            <argument name="extensionActions" xsi:type="array">
                <item name="MageCloud\Faq\Api\Data\FaqInterface" xsi:type="array">
                    <item name="read" xsi:type="array">
                        <item name="storeReader" xsi:type="string">MageCloud\Faq\Model\ResourceModel\Faq\Relation\Store\ReadHandler</item>
                        <item name="categoryReader" xsi:type="string">MageCloud\Faq\Model\ResourceModel\Faq\Relation\Category\ReadHandler</item>
                    </item>
                    <item name="create" xsi:type="array">
                        <item name="storeCreator" xsi:type="string">MageCloud\Faq\Model\ResourceModel\Faq\Relation\Store\SaveHandler</item>
                        <item name="categoryCreator" xsi:type="string">MageCloud\Faq\Model\ResourceModel\Faq\Relation\Category\SaveHandler</item>
                    </item>
                    <item name="update" xsi:type="array">
                        <item name="storeUpdater" xsi:type="string">MageCloud\Faq\Model\ResourceModel\Faq\Relation\Store\SaveHandler</item>
                        <item name="categoryUpdater" xsi:type="string">MageCloud\Faq\Model\ResourceModel\Faq\Relation\Category\SaveHandler</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\HydratorPool">
        <arguments>
            <argument name="hydrators" xsi:type="array">
                <item name="MageCloud\Faq\Api\Data\FaqInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="MageCloud\Faq\Model\Api\SearchCriteria\CollectionProcessor\FaqFilterProcessor" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor\FilterProcessor">
        <arguments>
            <argument name="customFilters" xsi:type="array">
                <item name="store_id" xsi:type="object">MageCloud\Faq\Model\Api\SearchCriteria\CollectionProcessor\FilterProcessor\FaqStoreFilter</item>
                <item name="category_id" xsi:type="object">MageCloud\Faq\Model\Api\SearchCriteria\CollectionProcessor\FilterProcessor\FaqCategoryFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="MageCloud\Faq\Model\Api\SearchCriteria\FaqCollectionProcessor" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="filters" xsi:type="object">MageCloud\Faq\Model\Api\SearchCriteria\CollectionProcessor\FaqFilterProcessor</item>
                <item name="sorting" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\SortingProcessor</item>
                <item name="pagination" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\PaginationProcessor</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="MageCloud\Faq\Model\FaqRepository">
        <arguments>
            <argument name="collectionProcessor" xsi:type="object">MageCloud\Faq\Model\Api\SearchCriteria\FaqCollectionProcessor</argument>
            <argument name="hydrator" xsi:type="object">Magento\Framework\EntityManager\AbstractModelHydrator</argument>
        </arguments>
    </type>
</config>
